* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;

}



/* header scetion  */
header {
    background-image: url(/images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 130px;

}

.web-header {
    text-align: right;
    padding-top: 216px;
    padding-right: 230px;


}

.web-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;

}

.primry-btn {
    background-color: #F15B22;
    color: azure;
    margin-top: 32px;
    margin-bottom: 250px;
    padding: 21px 25px;
    border: 0px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 20px;

}

/* about me section  */
.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.person {
    margin-left: 206px;
}

.about {
    margin-left: 200px;

}

.about-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.about-list {
    font-weight: 400;
    font-size: 16px;
    list-style: none;
    margin-top: 16px;
    color: #444343;
}

.me-2 {
    margin-bottom: 8px;

}

/* my plan  */
main {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 124px;

}

.my-plan {
    margin-top: 130px;
}

.my-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;

}

.cotainer-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.about-info {
    margin-top: 50px;
}

main section div p {
    color: #737272;
}

/* <!-- contact section  --> */
.contact-info {
    max-width: 1140px;
    max-height: 300px;
    margin: 0 auto;
    background-image:
        linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 58, 19, 0.73)),
        url(/images/watch.png);
    width: 80%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;
    margin-bottom: 130px;


}

.info-me {
    padding: 62px 615px 56px 66px;
}

.secn-btn {
    background-color: #ff4b04;
    color: azure;
    margin-top: 32px;

    padding: 21px 25px;
    border: 0px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 20px;
}

.info-title {
    font-weight: 700;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

/* footer section  */
.future {
    margin-top: 16px;
    margin-bottom: 24px;
}

.sub {
    margin-bottom: 16px;
}

.num {
    margin-bottom: 16px;

}

footer {
    max-width: 2000px;
    max-height: 577px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    color: aliceblue;
    justify-content: space-between;
}

.future-section {
    margin-top: 130px;
    margin-left: 230px;
}

.email-section {
    margin-top: 130px;
    margin-right: 230px;
}